.header {
  text-align: center;
  .active {
    font-weight: 900;
    outline: none;
  }
  .display {
    display: none;
  }
  a:active {
    outline: none;
  }
  .navbar-brand {
    font-size: 1.25em;
    font-weight: 900;
    outline: none;
    float: left;
  }
}
@media (min-width: 768px) {
  .navbar {
    height: 90px; 
  }
}
@media (min-width: 1200px) {
  .header {
    display: flex;
    .display {
      display: block;
    }
  }
}
