@import url(https://fonts.googleapis.com/css?family=Varela+Round);

.header {
  .active {
    font-weight: 900;
    outline: none;
  }
  .navbar-brand {
    font-size: 1.75em;
    font-weight: 900;
    outline: none;
    font-family: 'Varela Round', sans-serif;
  }
}
