.image-preview {
  display: inline-block;
  position: relative;
  .inset {
    position: absolute;
    bottom: 5px;
    left: 0px;
    width: 100%;
    background-color: #fff;
    text-align: center;
    opacity: .7;
  }
  .glyphicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    opacity: .6;
    color: #fff;
  }
  img {
    height: 250px;
    width: 250px;
    display: inline-block;
  }
  video {
    height: 250px;
    width: 250px;
    vertical-align: middle;
    background-color: #000;
  }
}

@media (min-width: 990px) {
  .image-preview {
    img {
      height: 250px;
      width: 250px;
    }
    video {
      height: 250px;
      width: 250px;
    }
  }
}
